<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757166298880-n176ftqevjmgjiprarcenris0omcntl9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757166298880-n176ftqevjmgjiprarcenris0omcntl9</string>
	<key>API_KEY</key>
	<string>AIzaSyDd10Sk6z0SskzKgEi5bQLqjk-Gk1vy9rY</string>
	<key>GCM_SENDER_ID</key>
	<string>757166298880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.husnutas.toolr</string>
	<key>PROJECT_ID</key>
	<string>toolr-1f1e2</string>
	<key>STORAGE_BUCKET</key>
	<string>toolr-1f1e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757166298880:ios:1dc6e5b10cc908b95b05e5</string>
</dict>
</plist>